<%= content_tag :h1, "Submodules"%>

<table class="listing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Revision</th>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
  <% @submodules.each do |submodule| %>
    <tr>
      <td><%= link_to_mate submodule.name, File.join(git.git_base, submodule.name) %></td>
      <td><%= submodule.revision %></td>
      <td><%= submodule.tag %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= button_to_remote "Add...", :params => {:controller => "submodule", :action => "add" }, :update_streaming => "iframe_output" %>

<iframe id='iframe_output' class="output"></iframe>