<table border=0 id="status_output">
<% status_data.each do |e| %>
  <tr>
    <td style='padding:0px 10px;'>
      <span title="<%= htmlize(e[:status][:long]) %>">
        <%= htmlize(e[:status][:short]) %>
      </span>
    </td>
    <td>
      <% if e[:path][-1..-1]=="/" %>
        <%= htmlize(e[:display]) %>
      <% else %>
        <a href="txmt://open?url=file://<%= e_url e[:path] %>">
          <%= htmlize(e[:display]) %>
        </a>
      <% end %>
    </td>
  </tr>
<% end %>
</table>